* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
img {
  border: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC',
    'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei',
    sans-serif;
}
