@mixin BG($url) {
  background-image: $url;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@mixin centerX() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin textOver() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scrollBase() {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #98b0d1;
    border-radius: 2px;
  }
}

@mixin scrollHiddenBase() {
  overflow-x: hidden;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.btnCommon {
  cursor: pointer;
  padding: 0 16px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 18px;
}

@mixin btnPositive {
  @extend .btnCommon;
  color: #ffe8c5;
  background: linear-gradient(
    0deg,
    rgba(117, 95, 6, 0.5) 0%,
    rgba(255, 204, 0, 0.5) 100%
  );
  border-image: linear-gradient(
      0deg,
      rgba(228, 161, 0, 0.7),
      rgba(255, 235, 0, 0.7)
    )
    1 1;
}

@mixin btnNegative {
  @extend .btnCommon;
  color: #ffffff;
  background: linear-gradient(
    0deg,
    rgba(10, 120, 152, 0.5) 0%,
    rgba(0, 210, 255, 0.5) 100%
  );
  border-image: linear-gradient(
      0deg,
      rgba(0, 238, 255, 0.7),
      rgba(0, 173, 255, 0.7)
    )
    1 1;
}
