@font-face {
  font-family: 'iconfont'; /* Project id 4238651 */
  src: url('iconfont.woff2?t=1693907915533') format('woff2'),
    url('iconfont.woff?t=1693907915533') format('woff'),
    url('iconfont.ttf?t=1693907915533') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: '\e712';
}

.icon-npm:before {
  content: '\ec12';
}
